<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HeaderList" value="Project  ,Description,Start date,Category,Responsible,Savings amount   ,Currency,Complexity ,  ,"/>
    <add key="Complexity" value="Simple,  ,Moderate    ,Hazardous ,Moderate1"/>
    <add key="DelimiterAllowed" value ="&#09;"></add>
    <add key="EncodingAllowed" value="Unicode (UTF-8)"></add>
    <add key="ExtensionSupported" value =".txt, .csv"/>
  </appSettings>
</configuration>